.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-start-card {
    align-items: center;
}

.reset-kingdom-button {
    width: 50%;
    margin: 10px;
}

.status-kingdom-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.shields {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shields-content {
    width: 100%;
}
@media (min-width: 756px) {
    .shields-content {
        width: 60%;
    }
}

.shields-table {
    font-size: 10px;
}
@media (min-width: 756px) {
    .shields-table {
        font-size: 16px;
    }
}

.shields-input-group {
    max-height: 20px;
}

.shields-assign-form {
    /* height: 100%; */
    /* max-height: 20px; */
}

.spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.spending-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
@media (min-width: 756px) {
    .spending-inputs {
        width: 60%;
    }
}
.spending-input-pct {
    width: 10%
}
.spending-title {
    width: 60%;
}
.revealed {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.tab-content {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.nav-tabs > ul {
    display: flex;
    flex-direction: row;
}

.tab-content {
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.income-box {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 5px;
    padding: 5px;
}

.kingdom-card {
    /* width: 30% */
    width: 100%;
}
@media (min-width: 756px) {
    .kingdom-card {
        width: 30%;
        min-width: 300px;
    }
}

.income-box {
    /* width: 30% */
    width: 100%;
}
@media (min-width: 756px) {
    .income-box {
        min-width: 300px;
        width: 30%;
    }
}

/* .revealed-box {
    width: 30%
} */

.text-box {
    border: 2px solid var(--bs-border-color);
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.text-box-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.text-box-item-title {
    width: 55%;
    float: left;
    text-align: left;
    margin-left: 5px;
}

.text-box-item-value {
    width: 35%;
    float: right;
    text-align: right;
    margin-right: 5px;
}

/* .revealed-box {
    border: 2px solid var(--bs-border-color);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5px;
    padding: 5px;
} */

/* .input-group-text {
    width: 50%
} */

.army-info {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 756px) {
    .army-info {
        width: 45%;
    }
}
.army-table {
    font-size: 10px;
}
@media (min-width: 756px) {
    .army-table {
        font-size: 16px;
    }
}
.mobis-table {
    font-size: 8px;
}
@media (min-width: 756px) {
    .mobis-table {
        font-size: 16px;
    }
}
.mobi-info {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 756px) {
    .mobi-info {
        min-width: 450px;
        width: 45%;
    }
}

.structures-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.structures-info {
    width: 100%
}
@media (min-width: 756px) {
    .structures-info {
        min-width: 550px;
        width: 70%;
    }
}
.structures-status-table {
    font-size: 10px;
}
@media (min-width: 756px) {
    .structures-status-table {
        font-size: 16px;
    }
}

/* .table {
    width: 95%;
} */

.toast {
    max-width: 80%;
}