.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
}

.help-dropdown-div {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 998;
}

.help-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 756px) {
    .help-contents {
        width: 60%;
        max-width: 600px;
    }
}

.help-dropdown-button {
    max-height: 400px;
    overflow-y: auto;
}

.help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.races-table {
    font-size: 12px;
}
@media (min-width: 756px) {
    .specialists-table {
        font-size: 16px;
    }
}