.galaxy-politics {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galaxy-policies {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galaxy-policy {
    width: 80%;
    margin: 20px;
}
.galaxy-policy-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.galaxy-policy-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15px;
}
.galaxy-policy-button {
    width: 25%;
}
.galaxy-policy-winner {
    border: 5px solid var(--bs-primary);
}