.universe-politics {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.universe-votes-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 15px;
}
.buy-votes-button {
    width: 50%;
    margin: 10px;
}