.galaxy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galaxy-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.galaxy-nav-arrow {
    user-select: none;
    font-size: 3em;
}
.galaxy-nav-arrow-disabled {
    user-select: none;
    font-size: 3em;
    opacity: 50%;
}

.galaxy-nav-input {
    width: 100%;
    margin: 5px;
}

@media (min-width: 756px) {
    .galaxy-nav-input {
        width: 35%;
    }
}

.galaxies-table {
    font-size: 10px;
    width: 100%;
}

@media (min-width: 756px) {
    .galaxies-table {
        font-size: 16px;
    }
}

.inline-galaxy-button {
    margin: 1px;
    width: 40px;
    height: 15px;
    font-size: 6px;
}

@media (min-width: 756px) {
    .inline-galaxy-button {
        margin: 2px;
        width: 65px;
        height: 30px;
        font-size: 12px;
    }
}

.attack-modal {
    width: 100%;
    max-width: none;
}
@media (min-width: 756px) {
    .attack-modal {
        width: 80%;
        min-width: 750px;
    }
}


.spy-modal {
    width: 100%;
    max-width: none;
}
@media (min-width: 756px) {
    .spy-modal {
        width: 80%;
        min-width: 750px;
    }
}

.missile-modal {
    width: 100%;
    max-width: none;
}
@media (min-width: 756px) {
    .missile-modal {
        width: 80%;
        min-width: 750px;
    }
}

.message-modal {
    width: 95%;
    max-width: none;
}
@media (min-width: 756px) {
    .message-modal {
        width: 80%;
        min-width: 750px;
    }
}