.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media (min-width: 756px) {
    .landing-content {
        width: 45%;
        max-width: 450px;
    }
}

.landing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.landing-button {
    margin: 5px;
}
.current-game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.landing-page-item {
    margin: 5px;
}