.sidenav {
    display: flex;
    flex-direction: column;
}

.mainnav {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 40px;
    /* font-size: medium; */
}

.nav-logout {
    margin-top: auto;
    align-self: center;
}

.nav-canvas {
    min-height: 100vh;
    /* position: sticky; */
    /* top: 0; */
    border-right: 1px solid #9e9e9e;
    max-width: 80vw;
}