.sidenav {
    height: 100%;
    width: 100%;
    padding: 50px;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

.mainnav {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav-logout {
    margin-top: auto;
    align-self: center;
}