.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  /* overflow-y: hidden; */
}

.navdiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: clamp(300px,24rem,800px);
  position: sticky;
  /* align-items: center; */
  top: 0;
}
@media (min-width: 756px) {
    .navdiv {
      width: 300px;
    }
}

/* @media screen and (min-width: 480px) {
  .navdiv {
     width: clamp(300px,24rem,800px);
  }
} */

.main-body {
  display: flex;
  flex-direction: row;
}

.router {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.router-body {
  width: 95%;
  /* overflow-y: auto; */
}

.header-container {
  width: 100%;
  /* max-height: 10%; */
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  align-self: center;
}

.header-contents {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.header-item {
  width: 50%;
  border: 1px solid var(--bs-border-color);
  box-sizing: border-box;
  padding: 3px;
  font-size: smaller;
}
@media (min-width: 756px) {
    .header-item {
        width: 25%;
        font-size: 16px;
        min-width: 175px;
    }
}

.nav-button {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 10px;
  z-index: 999;
  width: 30%;
  margin: 10px;
}