.attack {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attack-kingdom-form {
    min-width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attack-kingdom-select {
    width: 100%;
}

.battle-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.defender-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 756px) {
    .defender-stats {
      width: 50%;
      min-width: 300px;
    }
}


.defender-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.defender-text-boxes {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 12px;
    max-width: 250px;
}
@media (min-width: 756px) {
    .defender-text-boxes {
      font-size: 16px;
      min-width: 300px;
      width: 50%;
    }
}

.defender-table {
    width: 100%;
    font-size: 12px;
}
@media (min-width: 756px) {
    .defender-table {
      width: 50%;
      font-size: 16px;
      min-width: 300px;
      height: 350px;
    }
}

.attacker-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 756px) {
    .attacker-stats {
      width: 50%;
      min-width: 300px;
    }
}

.attacker-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.attacker-text-boxes {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 12px;
    max-width: 250px;
}
@media (min-width: 756px) {
    .attacker-text-boxes {
      font-size: 16px;
      min-width: 300px;
      width: 50%;
    }
}
.attacker-table {
    width: 100%;
    font-size: 12px;
}
@media (min-width: 756px) {
    .attacker-table {
      width: 50%;
      font-size: 16px;
      min-width: 400px;
      height: 350px;
    }
}

.unit-form {
    max-height: 30px;
}
.unit-input-group-text {
    max-height: 30px;
}
.unit-input-group {
    max-height: 15px;
}

.attack-results {
    display: flex;
    min-height: 100px;
    min-width: 40%;
    align-items: center;
}

.attack-results-box {
    min-height: 100%;
    width: 90%;
}

.calculate-button {
    margin: 5px;
}

.attack-button {
    margin: 5px;
}

.toast {
    margin: 50px;
}