.attack {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attack-kingdom-form {
    min-width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attack-kingdom-select {
    width: 100%;
}

.battle-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.defender-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defender-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.defender-text-boxes {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 12px;
}

.defender-table {
    width: 100%;
    font-size: 12px;
}

.attacker-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attacker-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.attacker-text-boxes {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 12px;
}
.attacker-table {
    width: 100%;
    font-size: 12px;
}

.unit-form {
    max-height: 30px;
}
.unit-input-group-text {
    max-height: 30px;
}
.unit-input-group {
    max-height: 15px;
}

.attack-results {
    display: flex;
    min-height: 100px;
    min-width: 40%;
    align-items: center;
}

.attack-results-box {
    min-height: 100%;
    width: 90%;
}

.calculate-button {
    margin: 5px;
}

.attack-button {
    margin: 5px;
}

.toast {
    margin: 50px;
}