

.revealed {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reveal-random-galaxy-button {
    margin: 10px;
}

.revealed-table {
    margin: 10px;
    width: 100%;
}
.revealed-galaxy-table {
    margin: 10px;
    width: 100%;
}

.remaining-timer {
    display: flex;
    flex-direction: row;
}

.remaining-time-title {
    width: 45%;
    float: left;
    text-align: left;
    margin-left: 5px;
}

.remaining-time-title-shared {
    width: 45%;
    float: left;
    text-align: left;
    margin-left: 5px;
    color: green;
}

.remaining-time-value {
    width: 45%;
    float: right;
    text-align: right;
    margin-right: 5px;
}

.shared-table {
    font-size: 9px;
    width: 100%;
}
.shared-requests-table {
    font-size: 9px;
    width: 100%;
}
.shared-offers-table {
    font-size: 9px;
    width: 100%;
}
.pinned-table {
    font-size: 9px;
    width: 100%;
}

.galaxy-modal {
    width: 100%;
    max-width: none;
}

.view-modal {
    width: 100%;
}

.share-intel-modal {
    width: 100%;
    max-width: none;
}