
.spy-operation-form {
    margin: 10px;
}
.spy-defender-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
@media (min-width: 756px) {
    .spy-defender-stats {
      width: 45%;
      min-width: 400px;
    }
}

.operation-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operation-table {
    width: 100%;
    margin: 10px;
}

.spy-attacker-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
@media (min-width: 756px) {
    .spy-attacker-stats {
      width: 45%;
      min-width: 400px;
    }
}

.spy-results-box {
    min-height: 20%;
    width: 90%;
    margin: 10px;
}
@media (min-width: 756px) {
    .spy-results-box {
      width: 40%;
      min-width: 400px;
    }
}

.drones-input-group {
    width: 75%;
}
.drones-input-group-text {
    max-height: 30px;
}
.spy-input-group-text {
    max-height: 30px;
}
.spy-input-group {
    max-height: 20px;
}

.box-span {
    white-space: pre-line;
}